<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UniRed - Publicaciones</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome Icons -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <!-- Estilos personalizados -->
  <%= stylesheet_link_tag 'index' %>
</head>
<body>
  <!-- Columna de Categorías -->
  <div class="sidebar">
    <button class="toggle-btn">
      <%= image_tag("menu-desplegable.png", alt: "Menú", title: "Menú", class: "img-menu") %>👆
    </button>
    
    <ul class="menu">
      <h2 style="color: white;">Te puede interesar</h2>
      <li><a href="#"><%= link_to "Ver más perfiles", usuario_index_path, class: "btn btn-primary" %></a></li>
      <li><a href="#"><%= link_to "Tendencias", tendencias_path, class: "btn btn-primary" %></a></li>
      <h2 style="color: white;">Categorías</h2>
      <div class="categories-container" style="max-height: 300px; overflow-y: auto;">
        <%= render partial: 'category', collection: @categories %>
      </div>
      <div class="border-bottom mb-3"></div>
      <li><a href="https://joesedux.000webhostapp.com/">Servicios</a></li>
      <li><a href="https://wa.me/51950826121">Contactanos</a></li>
      <li><a href="https://t.me/+snUG4c4aVKczZDUx">Ayudanos a mejorar</a></li>
    </ul>
  </div>

  <div class="container mt-5">
    <div class="row">
      <!-- Columna de Publicaciones -->
      <div class="col-md-8">
        <!-- Formulario de búsqueda -->
        <form action="<%= publicaciones_path %>" method="get">
          <div class="form-group">
            <div class="input-group">
              <input type="text" name="query" class="form-control" id="busqueda" placeholder="🔍Buscar publicaciones" autocomplete="off" >
              <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Buscar</button>
              </div>
            </div>
          </div>
          <div id="resultados-busqueda" class="mt-3"></div>
        </form>
        
        <br>
        
        <!-- Lista de enlaces para filtrar por facultad -->
        <div class="facultades">
          <strong><span class="filtrar">Filtra las publicaciones por tu facultad:</span></strong>
          <p></p>
        
          <div class="scroll-horizontal">
            <div class="btn-group">
              <% @facultades.each do |faculty| %>
                <%= link_to faculty.name, publicaciones_path(faculty_id: faculty.id), class: "btn btn-warning me-md-3 mb-2 mb-md-0", role: "button" %>
              <% end %>

            </div>
          </div>
        </div>
  
        <strong class="exclusive-heading">
          <h2 class="facultad_filtrada"><%= @faculty_name %></h2>
        </strong>
        <br>
        <div class="col-4 text-end">
          <!-- Botón de nueva publicación -->
          <% if 1==1%>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end ms-auto">
              <%= link_to(nueva_publicacion_path, class: "btn-nueva-publicacion") do %>
                <i class="bi bi-journal-plus me-2"></i> Nueva publicación
              <% end %>
            </div>
          <% end %>
        </div>
        <br>
        <%= turbo_frame_tag 'texto22' do %>
          <%= render partial: 'escribir' %>
        <%end%>
        <br>
        <%if @publicaciones_fijadas_facultad.present? %>
          <% @publicaciones_fijadas_facultad.each do |publicacion| %>
            <h2 style="color: #FFFFFF;">📌</h2>
            <div class="card my-0">
              <%if publicacion.fijada.present? %>
                <div class="card-body">
                  <!-- Contenedor del nombre de usuario -->
                  <% if publicacion.mostrar_nombre? %>
                    <strong ></strong>
                  <% else%>
                    <div class="usuario">
                      <div class="nombre-usuario">
                        <% if publicacion.present? && publicacion.user.present? && publicacion.user.social.present? && publicacion.user.social.fotoperfil.present? %>
                          <!-- Ejemplo de cómo renderizar el parcial en una vista -->
                          <%= render partial: 'fotoperfil', locals: { user: publicacion.user } %>

                          <!-- Aquí puedes mostrar una imagen predeterminada o un mensaje indicando que no hay imagen de perfil -->
                        <% else %>
                          <i class="bi bi-person me-2" style="font-size: 32px;"></i>
                          <strong ><%= link_to "#{publicacion.user.username} - #{publicacion.user.faculty.name}", usuario_path(publicacion.user.username), style: "color: white;", data: { turbo_frame: '_top' }%></strong>
                          <% if publicacion.user.verified %>
                            <span class="badge bg-success">Verificado</span>
                          <% end %>
                          <% if publicacion.user.admin %>
                            <span class="badge bg-primary">Administrador</span>
                          <% end %>
                          <% if publicacion.user.lider %>
                            <span class="badge bg-danger">Lider</span>
                          <% end %>
                        <%end%>
                      </div>
                    </div>
                  <% end %>
                  <!-- Contenido de la publicación -->
                  <% time_difference = Time.now - publicacion.created_at %>
                  <% if time_difference < 1.minute %>
                    <small class="fecha-publicacion">hace un momento<i class="fas fa-graduation-cap"></i></small>
                  <% elsif time_difference < 1.hour %>
                    <small class="fecha-publicacion"><%= (time_difference / 1.minute).to_i %> min. <i class="fas fa-graduation-cap"></i></small>
                  <% elsif time_difference < 2.hours %>
                    <small class="fecha-publicacion">1 h. <i class="fas fa-graduation-cap"></i></small>
                  <% elsif time_difference < 24.hours %>
                    <small class="fecha-publicacion"><%= (time_difference / 1.hour).to_i %> h. <i class="fas fa-graduation-cap"></i></small>
                  <% elsif time_difference < 48.hours %>
                    <small class="fecha-publicacion"> hace 1 d. <i class="fas fa-graduation-cap"></i></small>
                  <% elsif time_difference < 5.days %>
                    <small class="fecha-publicacion"> hace <%= (time_difference / 1.day).to_i %> d. <i class="fas fa-graduation-cap"></i></small>
                  <% else %>
                    <small class="fecha-publicacion">  <%= publicacion.created_at.strftime("%d/%m/%Y %H:%M") %> <i class="fas fa-graduation-cap"></i></small>
                  <% end %>
                  <%= link_to publicacion_path(publicacion.id), style: "color: white;", data: { turbo_frame: '_top' } do %>
                    <strong><h3 style="color: white;"><%= publicacion.titulo %></h3></strong>
                    <% if publicacion.imagen.attached? %>
                      <%= image_tag publicacion.imagen, class: "img-fluid", alt: "Imagen de la publicación" %>
                    <% else %>
                      <div class="placeholder-image"></div>
                        <p class="descripcion-publicacion" style="color: white;">
                          <% truncated_description = truncate(publicacion.descripcion, length: 150) %>
                          <% lines = truncated_description.lines.take(6) %>
                          <%= simple_format(lines.join) %>
                          <% if publicacion.descripcion.lines.count > 6 %>
                            <%= link_to 'Leer más', '#', class: 'leer-mas' %>
                          <% end %>
                          <span class="descripcion-completa" style="display:none;">
                            <%= simple_format(publicacion.descripcion) %>
                            <%= link_to 'Leer menos', '#', class: 'leer-menos', style: 'display:none;' %>
                          </span>
                        </p>
                    <% end %>
                    <% if publicacion.video.attached? %>
                      <div class="embed-responsive embed-responsive-16by9">
                        <%= video_tag publicacion.video, controls: true, class: "embed-responsive-item" %>
                      </div>
                    <% end %>
                    <p class="comentarios">
                      <span ><i class="fas fa-comments"></i> <%= publicacion.comments.count %></span>
                    </p>
                  <% end %>
                </div>
              <%end%>
            </div>
            <br>
          <% end %>
        <%end%>


        <%if @publicaciones_fijadas_index.present? %>
          <% @publicaciones_fijadas_index.each do |publicacion| %>
            <h2 style="color: #FFFFFF;">📌</h2>
            <div class="card my-0">
              <%if publicacion.fijadaindex.present? %>
                <div class="card-body">
                  <!-- Contenedor del nombre de usuario -->
                  <% if publicacion.mostrar_nombre? %>
                    <strong ></strong>
                  <% else%>
                    <div class="usuario">
                      <div class="nombre-usuario">
                       <% if publicacion.present? && publicacion.user.present? && publicacion.user.social.present? && publicacion.user.social.fotoperfil.present? %>
                            <!-- Ejemplo de cómo renderizar el parcial en una vista -->
                            <%= render partial: 'fotoperfil', locals: { user: publicacion.user } %>

                            <!-- Aquí puedes mostrar una imagen predeterminada o un mensaje indicando que no hay imagen de perfil -->
                        <% else %>
                            <i class="bi bi-person me-2" style="font-size: 32px;"></i>
                            <strong ><%= link_to "#{publicacion.user.username} - #{publicacion.user.faculty.name}", usuario_path(publicacion.user.username), style: "color: white;", data: { turbo_frame: '_top' }%></strong>
                            <% if publicacion.user.verified %>
                              <span class="badge bg-success">Verificado</span>
                            <% end %>
                            <% if publicacion.user.admin %>
                              <span class="badge bg-primary">Administrador</span>
                            <% end %>
                            <% if publicacion.user.lider %>
                              <span class="badge bg-danger">Lider</span>
                            <% end %>
                        <%end%>
                        
                      </div>
                    </div>
                  <% end %>
                  <!-- Contenido de la publicación -->
                  <% time_difference = Time.now - publicacion.created_at %>
                  <% if time_difference < 1.minute %>
                    <small class="fecha-publicacion"> hace un momento<i class="fas fa-graduation-cap"></i></small>
                  <% elsif time_difference < 1.hour %>
                    <small class="fecha-publicacion"><%= (time_difference / 1.minute).to_i %> min. <i class="fas fa-graduation-cap"></i></small>
                  <% elsif time_difference < 2.hours %>
                    <small class="fecha-publicacion">1 h. <i class="fas fa-graduation-cap"></i></small>
                  <% elsif time_difference < 24.hours %>
                    <small class="fecha-publicacion"> <%= (time_difference / 1.hour).to_i %> h. <i class="fas fa-graduation-cap"></i></small>
                  <% elsif time_difference < 48.hours %>
                    <small class="fecha-publicacion"> hace 1 d. <i class="fas fa-graduation-cap"></i></small>
                  <% elsif time_difference < 5.days %>
                    <small class="fecha-publicacion">hace <%= (time_difference / 1.day).to_i %> d. <i class="fas fa-graduation-cap"></i></small>
                  <% else %>
                    <small class="fecha-publicacion">  <%= publicacion.created_at.strftime("%d/%m/%Y %H:%M") %> <i class="fas fa-graduation-cap"></i></small>
                  <% end %>
                  <%= link_to publicacion_path(publicacion.id), style: "color: white;", data: { turbo_frame: '_top' } do %>
                    <strong><h3 style="color: white;"><%= publicacion.titulo %></h3></strong>
                    <% if publicacion.imagen.attached? %>
                      <%= image_tag publicacion.imagen, class: "img-fluid", alt: "Imagen de la publicación" %>
                    <% else %>
                      <div class="placeholder-image"></div>
                        <p class="descripcion-publicacion" style="color: white;">
                          <% truncated_description = truncate(publicacion.descripcion, length: 150) %>
                          <% lines = truncated_description.lines.take(6) %>
                          <%= simple_format(lines.join) %>
                          <% if publicacion.descripcion.lines.count > 6 %>
                            <%= link_to 'Leer más', '#', class: 'leer-mas' %>
                          <% end %>
                          <span class="descripcion-completa" style="display:none;">
                            <%= simple_format(publicacion.descripcion) %>
                            <%= link_to 'Leer menos', '#', class: 'leer-menos', style: 'display:none;' %>
                          </span>
                        </p>
                    <% end %>
                    <% if publicacion.video.attached? %>
                      <div class="embed-responsive embed-responsive-16by9">
                        <%= video_tag publicacion.video, controls: true, class: "embed-responsive-item" %>
                      </div>
                    <% end %>
                    <p class="comentarios">
                      <span ><i class="fas fa-comments"></i> <%= publicacion.comments.count %></span>
                    </p>
                  <% end %>
                </div>
              <%end%>
            </div>
            <br>
          <% end %>
        <%end%>


        <h1>Publicaciones</h1>
        <%= turbo_frame_tag "publicacionss" do %>
          <!-- Lista de Publicaciones -->
          
          <% @publicaciones.each do |publicacion| %>
            <div class="card my-0">
              <div class="card-body">
                <!-- Contenedor del nombre de usuario -->
                <% if publicacion.mostrar_nombre? %>
                  <strong ></strong>
                <% else%>
                  <div class="usuario">
                    <div class="nombre-usuario">
                      <% if publicacion.present? && publicacion.user.present? && publicacion.user.social.present? && publicacion.user.social.fotoperfil.present? %>
                        <!-- Ejemplo de cómo renderizar el parcial en una vista -->
                        <%= link_to  usuario_path(publicacion.user.username), style: "color: black;", data: { turbo_frame: '_top' } do %>
                          <%= render partial: 'fotoperfil', locals: { user: publicacion.user } %>
                        <%end%>

                        <!-- Aquí puedes mostrar una imagen predeterminada o un mensaje indicando que no hay imagen de perfil -->
                      <% else %>
                        <i class="bi bi-person me-2" style="font-size: 32px;"></i>
                        <strong ><%= link_to "#{publicacion.user.username} - #{publicacion.user.faculty.name}", usuario_path(publicacion.user.username), style: "color: white;", data: { turbo_frame: '_top' }%></strong>
                        <% if publicacion.user.verified %>
                          <span class="badge bg-success">Verificado</span>
                        <% end %>
                        <% if publicacion.user.admin %>
                          <span class="badge bg-primary">Administrador</span>
                        <% end %>
                        <% if publicacion.user.lider %>
                          <span class="badge bg-danger">Lider</span>
                        <% end %>
                      <%end%>
                    </div>
                  </div>
                <% end %>
                <!-- Contenido de la publicación -->
                <% time_difference = Time.now - publicacion.created_at %>
                <% if time_difference < 1.minute %>
                  <small class="fecha-publicacion"> hace un momento<i class="fas fa-graduation-cap"></i></small><small class="badge bg-warning text-dark"><%= publicacion.category.name %></small>
                <% elsif time_difference < 1.hour %>
                  <small class="fecha-publicacion"><%= (time_difference / 1.minute).to_i %> min. <i class="fas fa-graduation-cap"></i></small><small class="badge bg-warning text-dark"><%= publicacion.category.name %></small>
                <% elsif time_difference < 2.hours %>
                  <small class="fecha-publicacion">1 h. <i class="fas fa-graduation-cap"></i></small><small class="badge bg-warning text-dark"><%= publicacion.category.name %></small>
                <% elsif time_difference < 24.hours %>
                  <small class="fecha-publicacion"><%= (time_difference / 1.hour).to_i %> h. <i class="fas fa-graduation-cap"></i></small><small class="badge bg-warning text-dark"><%= publicacion.category.name %></small>
                <% elsif time_difference < 48.hours %>
                  <small class="fecha-publicacion"> hace 1 d. <i class="fas fa-graduation-cap"></i></small><small class="badge bg-warning text-dark"><%= publicacion.category.name %></small>
                <% elsif time_difference < 5.days %>
                  <small class="fecha-publicacion"> hace <%= (time_difference / 1.day).to_i %> d. <i class="fas fa-graduation-cap"></i></small><small class="badge bg-warning text-dark"><%= publicacion.category.name %></small>
                <% else %>
                  <small class="fecha-publicacion"> <%= publicacion.created_at.strftime("%d/%m/%Y %H:%M") %> <i class="fas fa-graduation-cap"></i></small><small class="badge bg-warning text-dark"><%= publicacion.category.name %></small>
                <% end %>

                <%= link_to publicacion_path(publicacion.id), style: "color: white;", data: { turbo_frame: '_top' } do %>
                  <br>
                  <br>
                  <h5 style="color: white;"><%= publicacion.titulo %></h5>
                  <% if publicacion.imagen.attached? %>
                    <%= image_tag publicacion.imagen, class: "img-fluid", alt: "Imagen de la publicación" %>
                  <% else %>
                    
                      <p class="descripcion-publicacion" style="color: white;">
                        <% truncated_description = truncate(publicacion.descripcion, length: 150) %>
                        <% lines = truncated_description.lines.take(6) %>
                        <%= simple_format(lines.join) %>
                        <% if publicacion.descripcion.lines.count > 6 %>
                          <%= link_to 'Leer más', '#', class: 'leer-mas' %>
                        <% end %>
                        <span class="descripcion-completa" style="display:none;">
                          <%= simple_format(publicacion.descripcion) %>
                          <%= link_to 'Leer menos', '#', class: 'leer-menos', style: 'display:none;' %>
                        </span>
                      </p>
                  <% end %>
                  <% if publicacion.video.attached? %>
                    <div class="video-container">
                      <video class="video-autoplay" loop controls loading="lazy" preload="auto">
                        <source src="<%= url_for(publicacion.video) %>" type="<%= publicacion.video.content_type %>">
                        Tu navegador no soporta el elemento de video.
                      </video>
                    </div>
                  <% end %>

                <% end %>
                <!-- MOSTRAR REACCIONES DESTACADAS --> 
                <%= turbo_frame_tag "reacciones" do %>  
                  <% destacadas = publicacion.reactions.group(:reaction_type).count.sort_by { |_, v| -v }.first(3) %>
                  <% if destacadas.present? %>
                    <div class="reacciones-destacadas">
                      <%= link_to reacciones_path(publicacion_id: publicacion.id), data: { turbo_frame: '_top' } do %>
                        <% destacadas.each do |tipo, cantidad| %>
                          <% emoji = case tipo
                                    when 'me_gusta' then '👍'
                                    when 'me_encanta' then '❤️'
                                    when 'me_divierte' then '😂'
                                    when 'me_asombra' then '😮'
                                    when 'me_entristece' then '😢'
                                    when 'me_enoja' then '😡'
                                    else '❓'
                                    end %>
                          <%= "#{emoji} #{cantidad}" if tipo.present? %>
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>

                  <!-- CONTENEDOR PARA REACCIONAR-->
                
                
                  <% me_divierte_count = publicacion.reactions.where(reaction_type: 'me_divierte').count %>
                  <% me_gusta_count = publicacion.reactions.where(reaction_type: 'me_gusta').count %>
                  <% me_encanta_count = publicacion.reactions.where(reaction_type: 'me_encanta').count %> 
                  <% me_asombra_count = publicacion.reactions.where(reaction_type: 'me_asombra').count %> 
                  <% me_entristece_count = publicacion.reactions.where(reaction_type: 'me_entristece').count %> 
                  <% me_enoja_count = publicacion.reactions.where(reaction_type: 'me_enoja').count %> 
                  <div class="border-bottom mb-3"></div>
                  <div class="reaction-dropdown">
                    <%if Current.user.present?%> 
                      <%if (Current.user.present? && publicacion.reactions.where(user_id: Current.user.id).exists?)%>
                        <span class="reaction-icon" onclick="toggleReactionMenu(this)">
                          <span style="font-size: 24px; margin-left: 30px;">❤️</span> 
                        </span>
                      <% elsif  %>
                        <span class="reaction-icon" onclick="toggleReactionMenu(this)">
                          <span style="font-size: 24px; margin-left: 30px;">🤍</span>

                        </span>
                      <%end%>
                    <%else%>
                      <span class="reaction-icon" onclick="showLoginMessage(this)">
                        <span style="font-size: 24px; margin-left: 30px;">🤍</span>
                        <span class="login-message"><%= link_to 'Inicie session para reaccionar', new_session_path, style: "color: black;", data: { turbo_frame: '_top' }%></span>
                        
                      </span>
                      
                      
                    <%end%>
                    <div class="reaction-menu">
                      <% if Current.user %>
                        <%= link_to reactions_path(publicacion_id: publicacion.id, reaction_type: :me_gusta), method: :post, remote: true do %>
                          <h3 class="like" onclick="selectReaction(this)">
                            <i class="fas fa-thumbs-up" style="color: DeepSkyBlue;"></i><span style="color: white;"><%= me_gusta_count %></span>
                          </h3>
                        <% end %>
                        <%= link_to reactions_path(publicacion_id: publicacion.id, reaction_type: :me_encanta), method: :post, remote: true do %>
                          <h3 class="heart" onclick="selectReaction(this)">
                            <i class="fas fa-heart" style="color: red;"></i> <span style="color: white;"><%= me_encanta_count %></span>
                          </h3>
                        <% end %>
                        <%= link_to reactions_path(publicacion_id: publicacion.id, reaction_type: :me_divierte), method: :post, remote: true do %>
                      
                          <h3 class="heart" onclick="selectReaction(this)">
                            🤣 <span style="color: white;"><%= me_divierte_count %></span>
                          </h3>
                        <% end %>
                        <%= link_to reactions_path(publicacion_id: publicacion.id, reaction_type: :me_asombra), method: :post, remote: true do %>

                          <h3 class="sad" onclick="selectReaction(this)">
                            😲​ <span style="color: white;"><%= me_asombra_count %></span>
                          </h3>
                        <% end %>
                        <%= link_to reactions_path(publicacion_id: publicacion.id, reaction_type: :me_entristece), method: :post, remote: true do %>
                          <h3 class="sad" onclick="selectReaction(this)">
                            😢​​ <span style="color: white;"><%= me_entristece_count %></span>
                          </h3>
                        <% end %>
                        <%= link_to reactions_path(publicacion_id: publicacion.id, reaction_type: :me_enoja), method: :post, remote: true do %>
                          <h3 class="angry" onclick="selectReaction(this)">
                            🤬 <span style="color: white;"><%= me_enoja_count %></span>
                          </h3>
                        <% end %>
                      <%end%>
                    </div>
                    
                    <%= link_to publicacion_path(publicacion.id), style: "color: white;", data: { turbo_frame: '_top' } do %>
                      <p style="margin-left: 250px; margin-top: -30px;" class="comentarios">
                        <span ><i class="fas fa-comments"></i> <%= publicacion.comments.count %></span>
                      </p>
                    <%end%>

                    <!-- Vista previa del primer comentario -->
                    <%= link_to publicacion_path(publicacion.id), style: "color: black;", data: { turbo_frame: '_top' } do %>
                      <% if publicacion.comments.present? %>
                        <div class="comentario-previo">
                          <% comentario = publicacion.comments.order(created_at: :desc).first %>
                          <div class="comentario-contenido">
                            <% if comentario.user.social.present? && comentario.user.social.fotoperfil.present? %>
                              <%= image_tag comentario.user.social.fotoperfil, class: "comentario-fotoperfil" %>
                            <% else %>
                              <i class="bi bi-person comentario-fotoperfil-placeholder"></i>
                            <% end %>
                            <div class="comentario-texto">
                              <strong class="comentario-usuario"><%= comentario.user.username %></strong>
                              <p class="primer-comentario"><%= truncate(comentario.content, length: 100) %></p>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    <%end%>



                  </div>
                  

                <% end %>
              </div>
            </div>
            <br>
          <% end %>
          <%= turbo_frame_tag "publicacionss" do %>
            <div class="pagination justify-content-center">
              <%= will_paginate @publicaciones, renderer: WillPaginate::ActionView::LinkRenderer, class: "custom-pagination" %>
            </div>
          <%end%>
          
        <% end %>

        
      </div>
    </div>
  </div>

  <!-- Bootstrap JS and jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <!-- Custom Scripts -->
  <script>
    $(document).ready(function() {
      // Búsqueda en tiempo real
      $('#busqueda').on('input', function() {
        var query = $(this).val().trim();
        if (query.length >= 3) {
          $.ajax({
            url: '<%= buscar_publicaciones_path %>',
            type: 'GET',
            data: { query: query },
            dataType: 'json',
            success: function(data) {
              mostrarResultados(data);
            },
            error: function(xhr, status, error) {
              console.error('Error al realizar la búsqueda:', error);
            }
          });
        } else {
          $('#resultados-busqueda').empty();
        }
      });

      function mostrarResultados(data) {
        var resultadosDiv = $('#resultados-busqueda');
        resultadosDiv.empty();

        if (data.length > 0) {
          var resultadosContainer = $('<div style="max-height: 200px; overflow-y: auto;"></div>');
          data.forEach(function(publicacion) {
            resultadosContainer.append(
              '<p style="color: #FFFFFF;"><i class="fas fa-graduation-cap"></i><a style="color: #FFFFFF;" href="/publicaciones/' + publicacion.id + '">' + publicacion.titulo + '</a></p>'
            );
          });
          resultadosDiv.append(resultadosContainer);
        } else {
          resultadosDiv.append('<p style="color: #FFFFFF;">No se encontraron resultados.</p>');
        }
      }

      // Mostrar y ocultar la descripción completa
      $('.leer-mas').click(function(e) {
        e.preventDefault();
        $(this).hide();
        $(this).siblings('.descripcion-completa').show();
        $(this).siblings('.leer-menos').show();
      });

      $('.leer-menos').click(function(e) {
        e.preventDefault();
        $(this).hide();
        $(this).siblings('.descripcion-completa').hide();
        $(this).siblings('.leer-mas').show();
      });

      // Toggle Sidebar
      $('.toggle-btn, .img-menu').click(function(event) {
        event.stopPropagation();
        $('.sidebar').toggleClass('show');
      });

      $(document).on('click', function(event) {
        if (!$(event.target).closest('.sidebar').length && !$(event.target).closest('.toggle-btn').length) {
          $('.sidebar').removeClass('show');
        }
      });

      // Reproducción automática de videos
      function isElementInViewport(el) {
        var rect = el.getBoundingClientRect();
        return rect.top >= 0 && rect.left >= 0 && rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) && rect.right <= (window.innerWidth || document.documentElement.clientWidth);
      }

      function playOrPauseVideos() {
        var videos = document.querySelectorAll('.video-autoplay');
        videos.forEach(function(video) {
          if (isElementInViewport(video)) {
            video.play();
          } else {
            video.pause();
          }
        });
      }

      window.addEventListener('scroll', playOrPauseVideos);
      window.addEventListener('resize', playOrPauseVideos);
      window.addEventListener('load', playOrPauseVideos);

      // Cambiar botón al hacer scroll
      var button = document.querySelector('.btn-nueva-publicacion');
      window.addEventListener('scroll', function() {
        if (window.scrollY > 200) {
          button.classList.add('scrolled');
          button.innerHTML = '<i class="bi bi-plus"></i>';
        } else {
          button.classList.remove('scrolled');
          button.innerHTML = '<i class="bi bi-journal-plus me-2"></i> Nueva publicación';
        }
      });
    });

    function showLoginMessage(element) {
      var message = element.querySelector('.login-message');
      if (message) {
        message.style.display = 'block';
        setTimeout(function() {
          message.style.display = 'none';
        }, 3000);
      }
    }

    function toggleReactionMenu(button) {
      var menu = button.nextElementSibling;
      menu.classList.toggle('show');
    }
  </script>
</body>

</html>
