<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear Nuevo Recurso Social</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome Icons -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <style>
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #f8f9fa;
      padding: 20px;
    }
    .card {
      border: none;
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .card-body {
      padding: 2rem;
    }
    .form-group {
      margin-bottom: 1.5rem;
    }
    .input-group-text {
      background-color: #fff;
      border: none;
      border-radius: 50%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .form-control {
      border: none;
      border-bottom: 2px solid #ced4da;
      border-radius: 0;
      box-shadow: none;
    }
    .form-control:focus {
      border-color: #007bff;
      box-shadow: none;
    }
    .btn-primary {
      background-color: #007bff;
      border: none;
      border-radius: 50px;
      padding: 0.75rem 1.5rem;
      font-size: 1.25rem;
      transition: background-color 0.3s;
    }
    .btn-primary:hover {
      background-color: #0056b3;
    }
    .file-label {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007BFF;
      color: #fff;
      border-radius: 4px;
      cursor: pointer;
      margin-bottom: 20px;
    }
    .file-label:hover {
      background-color: #0056b3;
    }
    button {
      padding: 10px 20px;
      background-color: #28a745;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    button:hover {
      background-color: #218838;
    }
    #error-message {
      color: red;
      margin-top: 20px;
      display: none;
    }
  </style>
</head>
<body>
<br>
<br>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center mb-4"><i class="fas fa-user-plus mr-2"></i>Agrega Tus Redes Sociales</h2>

            <%= form_with(model: @social, local: true) do |form| %>
              <% if @social.errors.any? %>
                <div id="error_explanation" class="alert alert-danger">
                  <h4><i class="fas fa-exclamation-triangle mr-2"></i><%= pluralize(@social.errors.count, "error") %> prohibieron que este recurso social se guarde:</h4>
                  <ul>
                    <% @social.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <%= form.hidden_field :user_id, value: Current.user.id %>

              <div class="form-group">
                <%= form.label :whatsapp, "WhatsApp" %>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fab fa-whatsapp text-success"></i></span>
                  </div>
                  <%= form.text_field :whatsapp, class: 'form-control', placeholder: 'Tu número de WhatsApp', aria_describedby: 'whatsappHelp' %>
                </div>
              </div>

              <div class="form-group">
                <%= form.label :facebook, "Facebook" %>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fab fa-facebook text-primary"></i></span>
                  </div>
                  <%= form.text_field :facebook, class: 'form-control', placeholder: 'Tu enlace de perfil de Facebook' %>
                </div>
              </div>

              <div class="form-group">
                <%= form.label :telegram, "Telegram" %>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fab fa-telegram text-info"></i></span>
                  </div>
                  <%= form.text_field :telegram, class: 'form-control', placeholder: 'Tu enlace de perfil de Telegram' %>
                </div>
              </div>

              <div class="form-group">
                <%= form.label :fotoperfil, "Foto de Perfil" %>
                
                <label for="file-input" class="file-label">Subir Foto de Perfil</label>
                <input type="file" id="file-input" accept="image/*" style="display: none;">
                <button type="button" id="upload-button">Subir</button>
                <div id="error-message"></div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-image text-warning"></i></span>
                  </div>
                  <%= form.text_field :fotoperfil, class: 'form-control', id: 'fotoperfil-url', placeholder: 'Enlace a tu foto de perfil', readonly: true %>
                </div>
              </div>

              <div class="form-group">
                <%= form.label :descripcionperfil, "Descripción del Perfil" %>
                <%= form.text_area :descripcionperfil, class: 'form-control', placeholder: 'Escribe una breve descripción de tu perfil' %>
              </div>

              <div class="text-center">
                <%= form.submit 'Crear Recurso Social', class: 'btn btn-primary btn-lg' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    document.querySelector('.file-label').addEventListener('click', (event) => {
      event.preventDefault();
      document.getElementById('file-input').click();
    });

    document.getElementById('upload-button').addEventListener('click', () => {
      const fileInput = document.getElementById('file-input');
      const errorMessage = document.getElementById('error-message');
      const fotoperfilUrl = document.getElementById('fotoperfil-url');
      errorMessage.style.display = 'none';

      if (fileInput.files.length === 0) {
        errorMessage.textContent = '¡Por favor selecciona un archivo primero!';
        errorMessage.style.display = 'block';
        return;
      }

      const file = fileInput.files[0];
      const formData = new FormData();
      formData.append('image', file);

      const apiKeys = [
        'e4a0c0c881822609e0130e39bf9653eb',
        'c6d96acfc49d9b5a95346f935845d16d',
        '9beb06f4ad5d7a4b422e2d9d5803cf9d'
      ];

      const selectedApiKey = apiKeys[Math.floor(Math.random() * apiKeys.length)];

      fetch(`https://api.imgbb.com/1/upload?key=${selectedApiKey}`, {
        method: 'POST',
        body: formData
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          const imageUrl = data.data.url;
          fotoperfilUrl.value = imageUrl;
        } else {
          errorMessage.textContent = 'Error en la carga de la imagen: ' + data.error.message;
          errorMessage.style.display = 'block';
        }
      })
      .catch(error => {
        console.error('Error:', error);
        errorMessage.textContent = 'Ocurrió un error al subir la imagen: ' + error.message;
        errorMessage.style.display = 'block';
      });
    });
  </script>
</body>
</html>
``
