<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>UniRed - Red Social Universitaria app</title>

  <!-- SEO Meta Tags -->
   <meta name="description" content="UniRed es una red social universitaria diseñada para estudiantes y personal de la Universidad Nacional Agraria de la Selva (UNAS) en Tingo María. Conéctate, comparte y participa en la vida universitaria.">
   <meta name="keywords" content="UniRed, red social universitaria, Universidad Nacional Agraria de la Selva, UNAS, red social UNAS, Tingo María, estudiantes, comunidad universitaria, colaboración académica, eventos universitarios">
   <meta name="author" content="UniRed Team">

   <!-- Open Graph Meta Tags (para compartir en redes sociales) -->
   <meta property="og:title" content="UniRed - Red Social Universitaria app">
   <meta property="og:description" content="Conéctate con la comunidad universitaria de UNAS en UniRed. Comparte, colabora y participa en eventos y actividades universitarias en Tingo María.">
   <meta property="og:image" content="https://i.ibb.co/Qp3GCw4/image-removebg-preview-3.png">
   <meta property="og:url" content="https://redsocial-0a6302192207.herokuapp.com/publicaciones">
   <meta property="og:type" content="website">

   <!-- Twitter Card Meta Tags (para compartir en Twitter) -->
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:title" content="UniRed - Red Social Universitaria">
   <meta name="twitter:description" content="Descubre UniRed, la red social diseñada para la comunidad de la UNAS. Interactúa y participa en la vida universitaria de Tingo María.">
   <meta name="twitter:image" content="https://i.ibb.co/Qp3GCw4/image-removebg-preview-3.png">
  

  <!-- SEO y seguridad -->
  <meta name="robots" content="index, follow">
  <%= csrf_meta_tags %>
  

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

 

  <!-- Estilos y scripts personalizados -->
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>



  
  

  <style>
    /* Estilo para hacer el encabezado fijo */
    nav.navbar {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000; /* Para asegurarse de que esté por encima del contenido */
    }

    /* Ajustar el cuerpo del documento para evitar que el contenido se solape con el encabezado */
    body {
      padding-top: 40px; /* La altura del encabezado, ajusta según sea necesario */
    }

    /* Estilo adicional para el cuerpo si hay una barra de desplazamiento vertical */
    body::before {
      content: '';
      display: block;
      height: 56px; /* La misma altura que el encabezado */
    }
  </style>
</head>

<body>
  <%= render 'shared/flash' %> 
  <%= render 'shared/header' %> 
  <%= yield %>
</body>
</html>
